<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Search Engine in Erlang</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center logo"><h1>Search Engine in Erlang</h1></div>

            <div class="row" id="search-box">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group input-group-lg">
                        <input type="text" autofocus class="form-control" placeholder="Search for..." id="search-input">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" id="search-button">Search</button>
                            <button class="btn btn-default" type="button" id="more-button" data-toggle="collapse" data-target="#more-panel">More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2" id="alert-box"></div>
            </div>

            <div class="row collapse" id="more-panel">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default ">
                        <div class="panel-heading">More</div>
                        <div class="panel-body">
                            <label class="control-label" for="url">Add URL</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="url" placeholder="URL...">
                                <span class="input-group-btn"><button class="btn btn-default" type="button" id="add-url">Add</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2" id="search-results"></div>
            </div>
        </div>

        <script type="text/template" id="search-result-template">
            <% if (results.length > 0) { %>
                <div class="list-group">
                    <% _.each(results, function(result) { %>
                        <div class="list-group-item">
                            <a href="<%= result.url %>">
                                <h4>
                                    <% if (result.title.length > 0) print(result.title); else print(result.url); %>
                                </h4>
                            </a>
                            <% if (result.url.length > 100) print(result.url.substring(0, 100) + '...'); else print(result.url); %>
                        </div>
                    <% }); %>
                </ol>
            <% } else { %>
                <div class="alert alert-dismissible alert-info" role="alert">
                    No results
                </div>
            <% } %>
        </script>

        <script type="text/template" id="alert-success-template">
            <div class="alert alert-dismissible alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%- msg %>
            </div>
        </script>

        <script type="text/template" id="alert-error-template">
            <div class="alert alert-dismissible alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%- msg %>
            </div>
        </script>

        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/underscore-min.js" type="text/javascript"></script>
        <script src="js/backbone-min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/see.js"></script>
    </body>
</html>
